*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playwrite US Trad", cursive;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}

.cabecalho .container{
    display: flex;
    justify-content: space-between;
    height: 10rem;
}

.cabecalho {
    position: fixed;
    height: 10rem;
    width: 100vw;
    background-color: white;
    background-color: #FFFFE0;
}

.imagem-logo {
    width: 10rem;
    height: 4rem;    
}

.imagem-logo img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
}

.nav-links {
    display: flex;
    align-items: center;
}

.list-navbar{
    list-style: none;
    list-style-type: none;
}

.list-navbar li {
    font-weight: bold;
    font-size: large;
    display: inline-block;
    padding: 0 1rem;
}

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}


.contact-section .container {
    text-align: center;
}
.sobre-section .container{
    display: flex;
    padding-top: 10rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
}



.logo-sobre {
    display: inline-block;
}

.sobre-nos {
    display: inline-block;
    text-align: start;
}

.sobre-produtos .container{
    display: flex;
    padding-top: 10rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.list-produtos li div{
    width: 200px;
    height: 200px;
}

.botao-cadastrar {
    border: none;
    background-color: #ffe600;
    padding: 0.7rem;
    border-radius: 10px;
    width: 15rem;
    font-weight: bold;
}